{# <!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Mario Osuna Ordóñez">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mario Osuna Ordóñez</title>
    <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="./img/favicon.png" />
    <link rel="stylesheet" href="./css/screen.css">
    <link rel="stylesheet" href="./css/blog.css">
    <link rel="stylesheet" href="./css/web.css">
    <link rel="stylesheet" href="./css/sidebar.css">


</head>

<body>
    <section id="wrapper">
        <header id="header">
            <div class="top">
                <nav>
                    <ul class="navigation">
                        <li><a href="index.php">Home</a></li>
                        <li><a href="index.php?route=about">About</a></li>
                        <li><a href="index.php?route=contact">Contact</a></li>
                        <li><a href="index.php?route=addblog">Añadir blog</a></li>
                    </ul>
                </nav>
            </div>
            <hgroup>
                <h2><a href="index.php">symblog</a></h2>
                <h3><a href="index.php">creating a blog in Symfony2</a></h3>
            </hgroup>
        </header>
        <div class="dis">
            <section class="main-col"> #}
            {% extends 'layout.twig' %}
            {% block body %}

                {% for blog in blogs %}
                <article class='blog'>
                <div class='date'>
                    <time datetime=''>{{blog.created_at}}</time>
                </div>
                <header>
                    <h2><a href='../show.php?id=0'>{{blog.title}}</a></h2>
                </header>
                <img src='./img/{{blog.image}}'/>
                <div class='snippet'>
                    <p>{{blog.blog}}</p>
                    <p class='continue'><a href='#'>Continue reading...</a></p>
                </div>
                <footer class='meta'>
                    <p>Comments: <a href='#'>{{blog.comment}}</a></p>
                    <p>Posted by <span class='highlight'>{{blog.author}}</span>{{blog.created_at|date('h:iA')}}</p>
                    <p>Tags: <span class='highlight'>{{blog.tags}}</span></p>
                </footer>
            </article>
            {% else %}
                    <p>There are no blog entries for symblog</p>
                {% endfor %}
                {% endblock %}
                

          {#   </section>
            <aside class="sidebar">
                <section class="section">
                    <header>
                        <h3>Tag Cloud</h3>
                    </header>
                    <p class="tags">
                        <span class="weight-1">magic</span>
                        <span class="weight-5">symblog</span>
                        <span class="weight-4">movie</span>
                    </p>
                </section>
                <section class="section">
                    <header>
                        <h3>Latest Comments</h3>
                    </header>
                    <article class="comment">
                    {% for comment in comments %}
                        <header>
                            <p class="small"><span class="highlight">{{comment.user}}</span> commented on
                                <a href="#">A day with Symfony2</a>
                            </p>
                        </header>
                        <p>{{comment.comment}}</p>                        
                    {% endfor %}
                    </article>
                </section>
            </aside>
        </div>
        <div id="footer">
            dwes symblog - created by <a href="#">dwes</a>
        </div>
    </section>
</body>

</html> #}